.navbar{
    width:100%;
    
    
}
.bg-custom {
    background-color:lightgreen;
}
ul{
   
    list-style-position: outside;
    list-style-type: none;
    overflow:hidden;
}
li a {
    margin-right: 2rem;
    float: left;
    margin:2rem;
    padding:0;
}